* {
  padding: 0;
  margin: 0; 
  box-sizing: border-box; 
}
.slider-container {
    background-color: rgb(26, 155, 155);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
 
}
.slider-elements {   
}
.slider-element {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.8s;
}
.slider-element i,
h1 {
  font-size: 5rem;
}
/* .slider-element i {
  color: orange;
} */

.slider-element.active{
    transform: translate(-50%, -50%) scale(1);
  
}
