section{
  
    border: 2px solid black;
    height: auto;
    width: 240px;
    padding: 10px;
}
.liked{
    color: rgb(88, 99, 248);
}
.disliked{
    color: red;
}
button{
    background-color: white;
    border: none;
}
#input1, #input2{
    width: 10px;
    border: none;
    pointer-events: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#commentinput{
    margin-top: 5px;
    width: 95%;
}

i{
    padding: 5px;
    font-size: 15px;
}
